.button {
    width: fit-content;
    padding: 5px 20px;
    background: none;
    border: 1px solid var(--primary-color);
    cursor: pointer;
}

.button--primary {
    background-color: var(--primary-color);
    color: var(--font-secondary-color);
}

.button--primary:hover {
    opacity: .9;
}