.box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 700px;
}

.box-fluid {
    width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

.box-scrollable {
    max-width: 100%;
    overflow: auto;
}

@media (min-width: 992px) {
    .box {
        max-width: 1140px;
    }
}