:root {
    --primary-color: #111;
    --secondary-color: #e8aa01;
    --tertiary-color: #fff;
    --font-primary-color: #2a2a2a;
    --font-secondary-color: #fff;
    --color-grey-light: #fafafa;
}

@media screen and (min-width: 1921px){
    :root {
        --primary-color: #e8aa01;
        --secondary-color: #111;
        --tertiary-color: #550074;
    }
}