:root {
    --gap-lg: 100px;
    --gap-md: 50px;
    --gap-sm: 25px;
}

.box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 700px;
}

.box-fluid {
    width: 100%;
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .box {
        max-width: 1140px;
    }
}

.m-b-md {
    margin-bottom: var(--gap-md);
}

.m-b-sm {
    margin-bottom: var(--gap-sm);
}

.m-t-md {
    margin-top: var(--gap-md);
}